* {
    box-sizing: border-box;
}

.person {
    text-align: center;
}

.person .avatar {
    display: block;
    margin: 0 auto 15px;
}

.person b {
    display: block;
    font-size: 18px;
}

.person em {
    display: block;
}

.person ul {
    margin: 10px 0 0;
    padding: 0;
}

.person li {
    display: inline-block;
}

.icon {
    background: #fff;
    border-radius: 21px;
    color: #777;
    display: inline-block;
    font-size: 28px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
}

.icon:hover {
    background: #36c;
    color: #fff;
}
